// Load Roboto font
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,500i')

#root {
  // display: flex;
  // min-height: 100vh;
  // flex-direction: column;
}

html {
  font-size: 100%;
}
